.wrapper{
  width: 100vw;
  height: 100vh;
  padding: 0px 70px;
  background-color: var(--background-header);
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .title{
    font-size: 60px;
    color: var(--white);
    margin-right: 10px;
  }
}