.menu-item{
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  border: none;

  &.separate {
    border-top: 0.8px solid var(--color-separate);
  }

  &:hover{
    background-color: rgba(22, 24, 35, 0.04);
  }
} 
