.wrapper {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: center;
  background-color: rgb(245,245,245);
  min-height: 100vh;
  min-width: calc(100vw - 15px); 
}
