.wrapper {
  width: 100%;
  max-height: min((100vh - 96px) - 60px, 734px);
  padding: 6px 0px;
  border-radius: 8px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  &::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--white)  transparent;
  }
}

.fix-static-height{
  height: 100%;
}

