.wrapper{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top: 10px;
  width: 1200px;
  min-height: 480px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

  .information-product{
    display: flex;
    height: 450px;

    .information{
      width: 780px;
      display: flex;
      flex-direction: column;
    }
  }
}

.picture{
  padding: 15px;
}

.title{
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  padding: 15px 0px;
}

.total{
  font-size: 24px;
  width: 700px;
  color: #d0011b;
  background: #fafafa;
  padding: 15px 20px;
  margin-bottom: 25px;
}

.quantity{
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;

  .title-text{
    width: 110px;
    color: #757575;
    font-size: 1.4rem;
    font-weight: 400;
  }

  .quantity-item{
    margin-right: 10px;
  }
}

.buttonAddCart{
  padding: 13px 40px;
  border: 0.5px solid red;
  background-color: rgb(240, 233, 233);
  border-radius: 3px;
  color: red;
}

.description{
  margin-top: 30px;
  color: rgba(0, 0, 0, .8);
  font-size: 1.875rem;
  line-height: 1.7;
  font-weight: 400;
  padding: 15px;
  // width: 993px;
  width: 1200px;

  background-color: white;
  border-radius: 5px;

  .description-title{
    font-size: 26px;
    background-color: #f1f1f1;
    padding-left: 20px;
    margin-bottom: 30px;
  }
}

.recommend{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1200px;
  border-radius: 5px;
}

.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
