.hiddenHeaderIndex {
  height: 60px;
}

.headerIndex{
  height: var(--default-height-header);
}


.wrapper{ 
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;   
  background-color: var(--background-header);

  .header-wrapper{
    width: 100%;
    height: var(--default-height-header);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header-indexing{
    display: flex;
    width: 100vw;
    padding-top: 8px;
    background: white;
  }
}

.inner{
  min-width: 220px;
  .logo{
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    .description{
      font-weight: 300;
      font-size: 1.2rem;
    }
  }
}

.action{
  min-width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .action-item{
    display: flex;
    align-items: center;
  }
}

.custom-tooltip{
  background-color: #4b4949;
  color: aliceblue;
  font-weight: 500;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;

  &::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #4b4949  transparent;
  }
}
